﻿<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>
	@*@Styles.Render("~/Content/css")
		@Scripts.Render("~/bundles/modernizr")*@

	<link href="https://kendo.cdn.telerik.com/2020.1.406/styles/kendo.bootstrap-v4.min.css" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

	<script src="https://kendo.cdn.telerik.com/2017.1.223/js/jquery.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2017.1.223/js/kendo.all.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2017.1.223/js/kendo.aspnetmvc.min.js"></script>

	<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("BookStore", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
					<li>@Html.ActionLink("Авторы", "Authors", "Home")</li>
					<li>@Html.ActionLink("Издатели", "Publishers", "Home")</li>
					<li>@Html.ActionLink("Книги", "Books", "Home")</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - тестовое приложение ASP.NET - книги</p>
		</footer>
	</div>

	@*@Scripts.Render("~/bundles/jquery")*@
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
