﻿@{
	ViewBag.Title = "Реестр книг";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
	<div class="text-center">
		@(Html.Kendo().Grid<BookStoreApp.Models.BookModel>()
			.Name("Books")
			.Columns(columns =>
			{
				columns.Bound(c => c.Id).Title("#").Width(30);
				columns.Bound(c => c.Name).Title("Название книги").Width(200)
					.Filterable(ftb => ftb.Cell(cell => cell.Operator("contains")));
				columns.Bound(c => c.Description).Title("Аннотация").Width(200);
				columns.Bound(c => c.Price).Title("Цена").Width(50);
				columns.ForeignKey(p => p.PublisherId,
					(System.Collections.IEnumerable)ViewData["publishers"], "PublisherId", "PublisherName"
				).Title("Издательство").Width(200);
				columns.Bound(c => c.Authors).Title("Автор(ы)").Width(200);
				columns.Command(command => { command.Edit(); command.Destroy(); }).Width(150);
			})
			.ToolBar(toolbar => toolbar.Create())
			.Filterable(ftb => ftb.Mode(GridFilterMode.Row))
			.Editable(editable => editable.Mode(GridEditMode.InLine))
			.DataSource(dataSource => dataSource
				.Ajax()
				.Model(model => {
					model.Id(p => p.Id);
					model.Field(p => p.PublisherId);
				})
				.Create(update => update.Action("CreateOrUpdateBook", "Books"))
				.Update(update => update.Action("CreateOrUpdateBook", "Books"))
				.Read(read => read.Action("GetBooks", "Books"))
				.Destroy(update => update.Action("DeleteBook", "Books"))
			)
        )
	</div>
</div>