﻿@{
    ViewBag.Title = "ASP.NET - книги";
}

	<div class="jumbotron">
		<h1>ASP.NET - книги</h1>
		<p class="lead">Рабочее веб-приложение, где есть возможность:</p>
		<p>
			<ul>
				<li>Добавить автора</li>
				<li>Добавить издателя</li>
				<li>Добавить книгу с указанием авторов и издателя</li>
				<li>Реестр (таблица) книг со всеми столбцами что есть в БД с возможностью поиска книг</li>
			</ul>
		</p>

		<p class="text-left">
			Перед использованием приложения необходимо создать БД
			<div>
				<button class="btn btn-primary" id="btnCreateDatabase">Создать БД</button>
			</div>
		</p>
	</div>

<div class="row">
	<div class="col-md-4">
		<h2>Авторы</h2>

		<p style="min-height:90px">
			Управление списком авторов
		</p>

		<p class="text-left">
			<a class="btn btn-default" href="/home/authors">Перейти &raquo;</a>
		</p>
	</div>

	<div class="col-md-4">
		<h2>Издатели</h2>

		<p style="min-height:90px">
			Управление списком издателей
		</p>

		<p class="text-left">
			<a class="btn btn-default" href="/home/publishers">Перейти &raquo;</a>
		</p>
	</div>

	<div class="col-md-4">
		<h2>Книги</h2>

		<p>
			Добавление книг в оеестр и поиск:
			<ul>
				<li>По названию</li>
				<li>По автору</li>
				<li>По издателю</li>
			</ul>
		</p>

		<p class="text-left">
			<a class="btn btn-default" href="/home/books">Перейти &raquo;</a>
		</p>
	</div>
</div>

@section Scripts{
<script>
	$(function () {
		$("#btnCreateDatabase").click(() => {
			$.ajax({
				url: '/books/CreateDB',
			}).done(() => {
				alert('БД создана');
			})
		});
	})
</script>
}