﻿@{
	ViewBag.Title = "Страница списка издателей";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
	<div class="text-center">
		@(Html.Kendo().Grid<BookStoreApp.Models.PublisherModel>()
			.Name("Publishers")
			.Columns(columns =>
			{
				columns.Bound(c => c.Id).Title("#").Width(30);
				columns.Bound(c => c.Name).Title("Наименование издательства").Width(300);
				columns.Command(command => { command.Edit(); command.Destroy(); }).Width(150);
			})
			.ToolBar(toolbar => toolbar.Create())
			.Editable(editable => editable.Mode(GridEditMode.InLine))
			.DataSource(dataSource => dataSource
				.Ajax()
				.Model(model => model.Id(p => p.Id))
				.Create(update => update.Action("CreateOrUpdatePublisher", "Books"))
				.Update(update => update.Action("CreateOrUpdatePublisher", "Books"))
				.Read(read => read.Action("GetPublishers", "Books"))
				.Destroy(update => update.Action("DeletePublisher", "Books"))
			)
        )
	</div>
</div>
